@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/OpenSans-Light.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA; 
}

footer {
    padding: 2.5rem 0;
    color: #525252;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    font-weight: bold;
}

.bg-dark {
    background-color: #343a40!important;
}

.navbar-light .navbar-nav .active {
    border-bottom: 0px solid #dd5b4a;
    border-width: 2px;
    transition: border-width 0.1s linear;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #dd5b4a;
    font-weight: bold;
}

button.btn .btn-link {
    color: #dd5b4a;
}

img {
    max-height: 100%;
    max-width: 100%;
}

button {
    cursor: pointer;
}

button.read-article-button {
    color: #0051AD;
    font-weight: 800;
}

#menu-container a {
    cursor: pointer;
}

.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}

.my-flex-card .center-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#btn-install {
    background: transparent;
    border: none;
}

.hidden {
    display: none;
}